@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    font-family: 'Sigmar', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    user-select: none;
}

#app{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.width{
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.emojiQuality{
    order: 2;
    font-size: 60px;

}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    order: 1;
}

.btn-container button{
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #ddd;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.btn-container button:nth-child(2){
    padding: 10px 20px;
    background-color: #af4c4c;
    color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.textCon{
    color: #ff0303;
    text-align: center;
}

.textCon-buy{
    color: #30a00d;
    text-align: center;
}

.btn-back{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #323131;
    color: #ddd;
    transition: all 0.2s ease;
}

.btn-back:hover{
    scale: 1.03;
}